@page "/home"
@inject NavigationManager Navigation
@using System.ComponentModel.DataAnnotations
@using System.Net.Http
@inject HttpClient Http
@using System.Net.Http.Json

<style>
    .inter-font {
        font-family: 'Inter', sans-serif; /* Use the Inter font family */
    }
    
    .btn-outline-red {
        color: red;
        border: 2px solid red;
        background-color: transparent;
    }
</style>
<h1 class="inter-font">DATA PESANAN</h1>
<div class="card mt-4">
    <div class="card-header d-flex justify-content-between align-items-center">
        <a href="/home/formaddPengguna" class="btn btn-primary">
            <i class="bi bi-plus-square"></i> Tambah Data
        </a>
        <form action="/student/search" method="GET" class="form-inline">
            <div class="input-group">
                <input name="q" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append" style="margin-left: 10px;">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-body">
        <table class="table table-striped table-hover inter-font">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Username</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <a href="/student/formedit/{{$m->id}}" class="btn btn-outline-primary">
                            <i class="bi bi-pencil"></i> Edit
                        </a>
                        <a href="/student/delete/{{$m->id}}" class="btn btn-outline-danger">
                            <i class="bi bi-trash"></i> Delete
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
